html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/**********Header*******/

#headerwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#fbikon_top {
    position: relative;
    display: flex;
    left: 7.5vw;
    width: 3vw;
    height: 3vw;
    background-image: url(ui_elementer/facebook%20ui.svg);
}

#igikon_top {
    position: relative;
    display: flex;
    left: 8vw;
    width: 3vw;
    height: 3vw;
    background-image: url(ui_elementer/insta%20ui.svg);
}

#logo {
    position: relative;
    left: 29.5vw;
    width: 23vw;
    height: 16vw;
    background-image: url(ui_elementer/logo_handler.svg);
}

#search_bar {
    position: relative;
    left: 39.5vw;
    border-radius: 9px;
    padding: 2px;
    border: 1px solid black;
    width: 220px;
    height: 20px;


}

#search_icon {
    background-image: url(ui_elementer/search_glass.svg);
    width: 1.3vw;
    height: 1.3vw;
    margin: 0.3vw;
}


#basket {
    position: relative;
    left: 40vw;
    width: 7vw;
    height: 7.1vw;
    background-image: url(ui_elementer/ui_basket_ny.svg);
}


/******NAVI******/


#nav_wrapper {
    position: relative;
    top: 1vw;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #555;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 2.5vw;
}

header nav a {
    text-decoration: none;
    padding: 20px 30px;

}

header nav a:link {
    color: black;
}


header nav a:hover {
    color: #a2a0a0;
}


/********LANDINGPAGE*******/

#splash_sectionwrapper {
    position: relative;
    top: 4vw;
    display: flex;
    align-items: center;

    width: 100%;
    overflow-y: hidden;
    height: 30vw;

}

#splash1,
#splash2,
#splash3 {
    width: 80%;
    padding: 10px;

}

#landingpage_video_container {
    position: relative;
    top: 6vw;
    display: flex;
    width: 100%;
    height: 30vw;

}

#video {
    width: 100%;
    height: 60vw;
    padding-left: 2px;

}

landingpage h2 {
    position: relative;
    display: flex;
    top: 20vw;
    margin: 4vw;
}

/******ANIMATIONER*******/
