html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

/**********Header*******/

#headerwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#fbikon_top {
    position: relative;
    display: flex;
    left: 8vw;
    width: 2vw;
    height: 2vw;
    background-image: url(ui_elementer/facebook%20ui.svg);
}

#igikon_top {
    position: relative;
    display: flex;
    left: 9vw;
    width: 2vw;
    height: 2vw;
    background-image: url(ui_elementer/insta%20ui.svg);
}

#logo {
    position: relative;
    left: 34vw;
    width: 18vw;
    height: 12vw;
    background-image: url(ui_elementer/logohandler.svg);
}

#search_bar {
    position: relative;
    left: 46vw;
    top: 0.2vw;
    border-radius: 9px;
    padding: 2px;
    border: 1px solid black;
    width: 217px;
    height: 15px;
}


#search_icon {
    background-image: url(ui_elementer/ui_search.svg);
    width: 1.1vw;
    height: 1.1vw;
    margin: 0.1vw;
}


#basket {
    position: relative;
    left: 47vw;
    width: 2.725vw;
    height: 2vw;
    background-image: url(ui_elementer/ui_basket_ny.svg);
}


/******NAVI******/


#nav_wrapper {
    position: relative;
    top: 1vw;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #555;
    font-family: 'PT Sans', sans-serif;
    font-weight: regular;
    padding-bottom: 2.5vw;
}

header nav a {
    text-decoration: none;
    padding: 20px 30px;

}

header nav a:link {
    color: black;
}


header nav a:hover {
    color: #a2a0a0;
}


/********LANDINGPAGE*******/

#splash_sectionwrapper {
    position: relative;
    top: 4vw;
    display: flex;
    align-items: center;

    width: 100%;
    overflow-y: hidden;
    height: 30vw;

}

#splash1,
#splash2,
#splash3 {
    width: 80%;
    padding: 10px;

}


/*****VIDEO*****/

#landingpage_video_container {
    position: relative;
    top: 6vw;
    display: flex;
    width: 100%;
    height: 30vw;
    text-align: justify;
    color: white;

}

#video {
    width: 100%;
    height: 60vw;
    padding-left: 2px;
}

#landingpage_video_txt {
    position: absolute;
    bottom: -300px;
    right: 8px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    width: 350px;
    border: 1.4px solid white;
    padding: 20px;
}

#landingpage_video_knap {
    position: absolute;
    bottom: -330px;
    right: 146px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    width: 95px;
    padding: 1px;
    border: 1.4px solid white;
    text-align: center;
}



/*****INSTAGRAM*****/

#insta_h2 {
    position: relative;
    display: flex;
    top: 37vw;
    left: 5vw;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;

}

#instawheel_sectionwrapper {
    position: relative;
    top: 36vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    overflow-y: hidden;
    height: 25vw;

    border-top: 1px solid #e5e6e9;
    border-bottom: 1px solid #e5e6e9;
}


/*
#instawheel_sectionwrapper {
    position: relative;
    display: flex;
    top: 36vw;
    justify-content: space-between;
}
*/


#insta1_pic {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url(billeder/instagram/insta1.jpg);


}


#insta2_pic {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url(billeder/instagram/insta2.jpg);

}

#insta3_pic {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url(billeder/instagram/insta3.jpg);

}

#insta4_pic {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url(billeder/instagram/insta4.jpg);

}

/*****FOOTER****/

#info_col1 {
    display: flex;
    justify-content: space-between;
}


#footer_sectionwrapper {
    position: relative;
    display: flex;
    top: 39vw;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}

#opening_hours_btn {
    background-image: url(ui_elementer/pil_ui.svg);
    transform: rotate(270deg);
    width: 1.5vw;
    height: 2vw;
}


.footer_txt {
    text-decoration: none;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 50px;
    border-top: 1px solid #e5e6e9;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
}


#some_sectionwrapper {
    position: relative;
    display: flex;
    justify-content: center;
    top: 45vw;
    padding-bottom: 2vw;
}

#fbicon_btm {
    position: relative;
    display: flex;
    left: 5vw;
    width: 2vw;
    height: 2vw;
    background-image: url(ui_elementer/facebook%20ui.svg);
}

#igicon_btm {
    position: relative;
    display: flex;
    width: 2vw;
    height: 2vw;
    background-image: url(ui_elementer/insta%20ui.svg);
}

/*******ABOUTUS*******/
















































/******BAND*******/










































/*****BASKET*******/









































/******CHECKOUT******/









































/*****CONFIRMATION*******/




#confirm_wrapper {
    position: relative;

    width: 100%;
    height: 30vw;
}


#order_confirm_h1 {
    letter-spacing: 2px;
    font-family: 'PT Sans', sans-serif;
    font-weight: regular;
    font-size: 1.5rem;
}

#order_confirm_txt {
    letter-spacing: 2px;
    font-family: 'PT Sans', sans-serif;
    font-weight: regular;
    font-size: 0.8rem;

}


#order_confirm_img {
    width: 59vw;
    height: 30vw;
}


































/*******PRODUCT****************/









































/*********SATINBÅND**********/

article {
    margin-left: 2vw;
}

#satinbandwrapper {
    background-color: #E4E4E4;

}

.satinband {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.productdisplay {
    width: 20vw;
    height: 20vw;
    position: relative;
    background-color: white;

}

#satinBand_1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt1.png);
    background-size: 100%;
}

#satinBand_2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt2.png);
    background-size: 100%;
}

#satinBand_3 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt3.png);
    background-size: 100%;
}

#satinBand_4 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt4.png);
    background-size: 100%;
}

#satinBand_5 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt5.png);
    background-size: 100%;
}

#satinBand_6 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt6.png);
    background-size: 100%;
}

#satinBand_7 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt7.png);
    background-size: 100%;
}

#satinBand_8 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt8.png);
    background-size: 100%;
}

#satinBand_9 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt9.png);
    background-size: 100%;
}

#satinBand_10 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt10.png);
    background-size: 100%;
}

#satinBand_11 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt11.png);
    background-size: 100%;
}

#satinBand_12 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: url(billeder/produkter/produkt12.png);
    background-size: 100%;
}

.text {
    width: 20vw;
    background-color: white;
    text-align: center;
}

.text h1 {
    margin-top: 0;
}

.text p {
    margin-top: 0;
    margin-bottom: 2vw;
}

#type {
    position: absolute;
    width: 10vw;
    height: 3.5vw;
    background-color: black;
    left: 30vw;
    top: 20vw;
}

#farve {
    position: absolute;
    width: 10vw;
    height: 3.5vw;
    background-color: black;
    left: 42vw;
    top: 20vw;
}


#materiale {
    position: absolute;
    width: 10vw;
    height: 3.5vw;
    background-color: black;
    left: 54vw;
    top: 20vw;
}

#type h1 {
    color: white;
    text-align: center;
    font-family: ps sans, sans-serif;
    font-size: 20px;
    font-weight: 50;
}

#farve h1 {
    color: white;
    text-align: center;
    font-family: ps sans, sans-serif;
    font-size: 20px;
    font-weight: 50;
}

#materiale h1 {
    color: white;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 50;

}

.overlay {
    width: 20vw;
    height: 25.4vw;
    background-color: rgba(0, 0, 0, 0.8);

}

.PutIKurv {
    position: absolute;
    top: 10vw;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 3vw;
    width: 10vw;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1.4px solid white;


}

.overlay h2,
h3 {
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "PT Sans", sans-serif;
    font-weight: 50;
    text-transform: uppercase;

}

.overlay h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 50;
    font-size: 15px;
    text-transform: uppercase;

}

.overlay h2 {
    top: 6vw;
    left: 3vw;

}

.overlay h3 {
    top: 15vw;
    left: 7vw;
}

.hide {
    display: none;

}

/******ANIMATIONER*******/
